<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">


	<bean id="consoleWriter"
		class="com.cma.spring.exceptiontest.ConsoleWriter"
		primary="true"><!-- removed Autowiring ambiguity -->
	</bean>
	
	<bean id="consoleWriter1"
		class="com.cma.spring.exceptiontest.ConsoleWriter">
	</bean>
	<bean id="fileWriter"
		class="com.cma.spring.exceptiontest.FileWriter">
	</bean>
	
	<bean id="whatever" class="com.cma.spring.exceptiontest.FileWriter"
		autowire-candidate="false">
	</bean>

	<bean id="logger" 
		class="com.cma.spring.exceptiontest.Logger">
	</bean>
</beans>